#test{
    color: red;
}

.section{
    padding-left: 10px !important;
}

.up{
    padding: 2px;
}

.fa-circle{
    color: rgb(19, 141, 19);
    font-size: small;
}

.fa-check{
    color: rgb(29, 238, 29);
    font-size: xx-large;
}

.fa-car{
    font-size: xx-large;
}

.fa-user{
    font-size: xx-large;
    padding-left: 30px;
}

.sub-entry {
    width: 50%;
    float: left;
}

.button {
    text-align: center;
    padding-top: 20px;
    clear: both;
}